<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.krt.readingrecords.v33" version="33.0" viewmodes="application"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:kindle="http://kindle.amazon.com/ns/widget-extensions">
    <name xml:lang="zh">阅读记录</name>
    <author>KRT</author>
    <description xml:lang="zh">Kindle 阅读时长统计</description>
    <content src="index.html" />
    <kindle:gestures>
        <kindle:param name="tap" value="yes" properties="fire_on_tap:1" />
        <kindle:param name="swipe" value="yes" />
    </kindle:gestures>
    <feature name="http://kindle.amazon.com/apis" required="true">
        <param name="appmgr" value="yes" />
        <param name="gestures" value="yes" />
        <param name="messaging" value="yes" />
        <param name="device" value="yes" />
        <param name="chrome" value="yes" />
    </feature>
    <kindle:messaging>
        <kindle:app name="com.lab126.pillow" value="yes" />
    </kindle:messaging>
    <kindle:settings>
        <kindle:setting name="internetRequired" value="no" />
        <kindle:setting name="saveContext" value="no" />
    </kindle:settings>
</widget>
