<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>阅读记录</name>
        <version>1.2.1</version>
        <author>Plutoill</author>
        <id>kindle-reading-records</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
